@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
}
.slider-wrapper{
  transition: transform 0.3s ease;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slide img {
  width: 100%;
  height: 500px; /* Default height for larger screens */
  object-fit: cover;
}

.pagination{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.dot{
  width: 25%; /* 1/4 width for each dot */
  padding: 3rem 2rem; /* Add padding to the dots */
  border-radius: 1rem; /* Add rounded corners */
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  /* background-color: #013678; */
  background-color: rgba(1, 54, 120, 0.5);
  border: 0.8px solid white;
}
.mob-dot{
  display: none;
}
.mob-pagination{
  display: none;
}
.mob-dot.active{
  display: block;
  background-color: #1A3DA7;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius:1.5rem;
  color:white;
  font-size:12px;
  padding: 1rem 3rem;
}
.grid-fix{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2.25rem;
}
.fix-fitting-grid{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2.25rem/* 36px */;
}
.fix-blog-text{
  font-size: 1.875rem; /* 30px */
line-height: 2.25rem; /* 36px */
}

.fix-contact-div-size {
  width: 100%; /* Make the container full width */
  display: flex;
  justify-content: center; /* Center the content horizontally */
}
.fix-image{
  width: 250px;
}
@media (max-width: 1024px){
  #navigation li{
    font-size: 12px;
  }
  .fix-image{
    width: 150px;
  }
}
 @media (max-width: 768px) {
  .grid-fix{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.25rem;
    padding: 0 1rem;
  }
  .fix-fitting-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.25rem/* 36px */;
    padding: 0 2.25rem;
  }
  .mob-pagination{
    display: block;
  }
  .slide img{
    padding: 0 5px;
    border-radius: 15px;
    height: 300px;
    object-position: center center;
  }
  .pagination{
    display: none;
  }
  .fix-blog-text{
    font-size: 1.25rem; /* 20px */
line-height: 1.75rem; /* 28px */
  }
  .fix-carousel-image{
    width: 300px;
    height: 250px;
  }
  .fix-contact-div-size {
    margin: 0 16px; /* Add margins for better spacing on mobile */
  }
  .fix-sizing{
    width: 500px;
    height: 300px;
  }
  .fix-accordion-text{
    font-size: 16px;
  }
}
@media (max-width: 425px){
  .slide img{
    height: 200px;
  }
  .grid-fix{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.25rem;
  }
  .fix-fitting-grid{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.25rem/* 36px */;
    padding: 0 3.25rem;
  }
  .fix-blog-text{
    font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  }
  .fix-carousel-image{
    width: 200px;
    height: 150px;
  }
  .fix-carousel-button{
    font-size: 14px;
    position: absolute;
    left: 20%;
  }
  .fix-carousel-text{
    font-size: 14px;
  }
  .fix-contact-size{
    width: 50%;
  }
  .fix-sizing{
    width: 300px;
    height: 200px;
  }
  .fix-accordion-text{
    font-size: 13px;
    width: 100%;
  }
}
@media (max-width: 374px){
  .fix-blog-text{
    font-size: 1rem; /* 16px */
line-height: 1.5rem; /* 24px */
  }
}

.language-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure the dropdown appears above other elements */
  transition: transform 1.3s ease;
}
.product-dropdown {
  display: none;
  position: absolute;
  top: 80%;
  left: 0;
  background-color: #F6FAFF;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Show the dropdown when the parent li is hovered */
li:hover .product-dropdown {
  display: block;
}
.card{
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.2s ease-in-out;
}

.card::after{
  opacity: 0;
   box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.2s ease-in-out;
}

.card:hover{
    
  transform: scale(1.1,1.1);
}
.card:hover::after{
 opacity:1;
}
#specificBlog a {
  color:#1A3DA7;
}
.custom-button{
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #1A3DA7;
  border-radius: 0.70rem;
  padding: 0.5rem 1rem;
  
  
}
.custom-button.selected{
  background-color: #1a3da7;
  color: white;
}
#addForm input {
  border: black 1px solid;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
}

